<article bh-layout-role="single">
    <h2>标题</h2>
    <section>
        <div id="<%=moduleName %>-index-search"></div>
        <div class="bh-buttons bh-mb-8">
            <a href="javascript:void(0)" class="bh-btn bh-btn-primary" data-action="新增">新增</a>
            <a href="javascript:void(0)" class="bh-btn bh-btn-default" data-action="删除">删除</a>
            <a href="javascript:void(0)" class="bh-btn bh-btn-default" data-action="导出">导出</a>
        </div>
        <div id="<%=moduleName %>-index-card"></div>
    </section>
</article>
