<div class="sc-panel-user-1 bh-mv-8 bh-mr-16">
    <div class="sc-panel-user-1-image">
        <img src="http://res.wisedu.com/scenes/public/images/demo/userPanel.jpg">
    </div>
    <div class="sc-panel-user-1-container bh-animate-all bh-animate-fast">
        <div class="sc-panel-user-1-description">
            <div class="sc-panel-user-1-header">
                <div class="sc-panel-user-1-title">朱晓茹</div>
                <div class="sc-panel-user-1-info">00021323 女 21岁</div>
            </div>
            <div class="sc-panel-user-1-category">教育与心理学院</div>
            <div class="sc-panel-thing-1-subject">
                <div class="sc-panel-thing-1-subjectKey sc-width-50">岗位类别</div>
                <div class="sc-panel-thing-1-subjectValue">教师岗</div>
            </div>
            <div class="sc-panel-thing-1-subject">
                <div class="sc-panel-thing-1-subjectKey sc-width-50">用人方式</div>
                <div class="sc-panel-thing-1-subjectValue">事业编制</div>
            </div>
            <div class="sc-panel-thing-1-subject">
                <div class="sc-panel-thing-1-subjectKey sc-width-50">来源</div>
                <div class="sc-panel-thing-1-subjectValue">研究生毕业</div>
            </div>
        </div>
        <div class="sc-panel-user-1-operate bh-animate-bottom bh-animate-fast">
            <span class="bh-mh-4" data-action="bl">办理</span> | <span class="bh-mh-4" data-action="detail">查看详情</span>
        </div>
    </div>
</div>
