<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <!-- commomlib include jquery.js jquery.nicescroll.js jquery.fileupload.js director.min.js hogan.min.js lodash.min.js globalize.js-->
    <script src="http://res.wisedu.com/fe_components/commonlib.js"></script>
    <!-- 此处可以放置第三方库-->
    <script src="http://res.wisedu.com/fe_components/appcore.min.js"></script>
</head>

<body>
</body>

</html>
