<article bh-layout-role="single">
    <h2>标题</h2>
    <section>
        <div class="<%=moduleName %>-form-container">
            <div class="<%=moduleName %>-form "></div>
            <div bh-form-role="groupContainer">
                <div class="bh-col-md-12 bh-form-groupname sc-title-borderLeft bh-mb-24" bh-role-form-outline="title">自定义分组</div>
                <div class="bh-form-block bh-mb-36" bh-role-form-outline="container" style="margin-left: 12px;margin-bottom: 36px;">
                    <div class="bh-row"></div>
                </div>
            </div>
        </div>
    </section>
    <footer style="padding-left: 16px;">
        <a href="javascript:void(0);" class="bh-btn bh-btn-primary waves-effect" data-action="保存">保存</a>
        <a href="javascript:void(0);" class="bh-btn bh-btn-default waves-effect">取消</a>
    </footer>
</article>
